button{
          margin-top: 230px;
          margin-left: 550px;
          padding: 30px; 
       }
#value1{
        height: 30px;
        width: 100vw;

       }
       hr{
         color: black;
       }
       div{
        color: orange;
        font-size: 40px;
        display: flex;
        justify-content: end;
       }